
body {
  font-family: 'Catamaran', 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
  


  section.projects {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  
  .projects .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .projects hr {
    margin: 1.5rem 0;
  }
  
  .projects .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .projects .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .projects .card-price .period {
    font-size: 0.8rem;
  }
  
  .projects ul li {
    margin-bottom: 1rem;
  }
  
  .projects .text-muted {
    opacity: 0.7;
  }
  
  .projects .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .projects .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .projects .card:hover .btn {
      opacity: 1;
    }
  }

  .project-videos {
    margin: 10px, 10px, 10px, 10px
  }
  
  .about, .my-projects, .skills, .background, .contact {
    padding: 3rem
  }

  .dev-icons .list-inline-item i:hover {
    color: rgb(56, 180, 189);
  }

  .see-more {
    text-align: center
  }

  .git-icon {
    margin: 1rem;
    color: #444;
    text-decoration: none;

  }

  .projects::before {
    content: "";
    display: block;
    margin-top: -50px;
    position: absolute;
}
